header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;

    img {
        height: 100%;
        margin-right: 6px;
    }

    h1 {
        font-size: 1.25rem;
        margin-right: auto;
        user-select: none;
    }

    .react-logo {
        width: 50px;
    }

    .logo-link {
        display: flex;
        place-items: center;
        transition: color 100ms ease-in;
        cursor: pointer;

        span {
            font-size: 1.6rem;
            color: #00d8ff;
            padding-left: .5rem;
            vertical-align: middle;

            &:hover {
                color: #00abca;
            }
        }
    }

    .icon-link {
        display: flex;
        place-items: center;
        /* transition: color 100ms ease-in; */
        cursor: pointer;

        span {
            font-size: 2rem;
            color: #000000;
        }
    }

    .icon {
        &.face {
            width: 45px;
            margin-left: 1rem;
            margin-right: .4rem;
        }
    }

    @media (prefers-color-scheme: dark) {
        .icon-link {
            span {
                color: #ffffff;
            }
        }
    }
}
